<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Tomoya Vernon</h1>
    <p>Hi, my name is Tomoya Vernon and I'm a 22 year old university student who loves to watch anime and read novels. My favorite animes are inclusive of Attack On Titan, Naruto, Devils line, Dragon Ball super and Say I Love You. My favorite female chakracters
        are Mikasa from aot, Hinata from Naruto and Tsukasa from Devils Line. My favorite male character is LEVI ACKERMAN. I am a Computer Science major at the University of the West Indies.</p>
</body>

</html>